.container-highlights{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0px;    
    padding-left: 80px;    
    padding-right: 80px;    
}

.container-maintitle{
    text-align: center;
}

.container-maintitle h2{
    font-weight: bold;
}
.container-maintitle h2 span{
    color: #f70b0b;
}

.container-maintitle p{
    font-size: 20px
}

