.bannercontainer{
    width: 100%;
    min-height: 15rem;
    margin: 0 auto;
    background-color: #4e525f;
}
.titleBanner{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 5rem;
    color: #fff;
}


